<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name ="KinhDoanhMayTinh" connectionString="Data Source=LAPTOP-F20N2UMI\SQLEXPRESS;Initial Catalog=QLKDMAYTINH;Integrated Security=True" providerName="System.Data.SqlClient"></add>-->
		<add name ="KinhDoanhMayTinh" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLKDMAYTINH;Integrated Security=True" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>